* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

:root {
  --background: #fdf6f2;
  --text: #0a7ac8;
  --diseño: #fdb4a0;
  --clarito: #ffdcd2;
}

.banner {
  background-image: url(../images/wwallpaper.jpg);
  background-size: cover;
  background-position: center 90%;
  background-repeat: no-repeat;
  height: 40vh;

}


.navegacion {
  background-color: var(--background);
}

.nav-link {
  font-size: 1.2rem;
  background-color: rgba(255, 167, 108, 0.432);
  margin: .5rem;
  border-radius: .5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-weight: 600;
  color: white !important;
}

.nav-link:hover {
  color: #f57e5d !important;
}

.active {
  color: #f57e5d !important;
}

.nav-link:active {
  box-shadow: #c09184 3px 3px 6px 0px inset, #ffdcd2 -3px -3px 6px 1px inset;

}

main {
  min-height: 30vh;
  background-color: var(--background);
}

/* footer {
    max-height: 30vh;
} */


nav {
  background-color: #ffdcd2;
  border: solid;
  border-width: 1px;
  border-color: #f57e5d9f;
}

.icon {
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.icon img {
  width: 4rem;
}

.icon h1 {
  color: #f57e5d;
  font-family: 'Chicle', cursive;
}

.tel a {
  text-decoration: none;
  color: black;
}

.welcome {
  color: rgb(59, 59, 59);
  font-family: 'Comfortaa', cursive;
  text-align: center;

}

.badges {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.badges img {
  width: 10rem;
  margin-left: 2rem;
}

.badges p {
  text-align: center;

}


.acerca-nosotros {
  background-color: var(--diseño);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;



}

.about {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;

}

#imaggebreak {
  display: none;
}

.about p {
  font-size: 1.5rem;

}

.imagensobre {
  width: 20%;

}

.gale {
  display: flex;
  flex-wrap: wrap;
}

.gale img {
  margin-bottom: 1rem;
  border: solid 2px rgb(146, 145, 145);

}

.polaroid {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2rem;
  margin: 1rem;
}

.polaroid>img {
  max-width: 100%;
  height: auto;
}

.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}

.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  /* box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3); */
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}


.catdog img {
  width: 10rem;
}

.mapa {

  background-color: var(--diseño);
  display: flex;
  flex-direction: column;

  text-align: center;
  padding-bottom: 2rem;
}

.mapa img {
  width: 5rem;
  height: 5rem;
}

.mapa {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

iframe {
  width: 40vw;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.map img {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h2 {

  color: white;
  background-color: #f57e5d81;
  text-align: center;
}

.galeria {
  margin-top: 1rem;
}

.mobilegallery {
  display: none;
}
 
.pagos  {
  width: 11rem;
}

.imagen {
  width: 3.5rem;
}
.frame  {
  width: 5rem;
}
iframe {
  width: 10rem;
  height: 10rem;
}

/* css footer*/
footer {
  background-color: #ffb99e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.col-12>img {
  object-fit: contain;
  width: 100%;
}

#app {
  background-color: var(--background);
}

/*Adopcion*/
#adopt {
  text-align: center;
  color: white;
  background-color: #f9baa7;
}

.cartas {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

}

#adopparrafo {
  text-align: center;
  font-size: 1.5rem;
}

.col-md-4 {
  margin-bottom: 1rem;
}

.col-md-4 img {
  width: 18rem;
}

.mr-2 {
  background-color: #f57e5d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mr-2:hover {
  background-color: #f3562a;
}

.formi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 2rem;


}

.env {
  text-decoration: none;
}

.env:hover {
  color: #f3562a;
}

.conmain {
  background-image: url(../images/perritos-palabras-entender.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.formulario {
  background-color: #bd5a3f6c;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.gracis {
  background-image: url(../images/perritos-palabras-entender.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

}

.gracias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  color: rgb(0, 0, 0);
  background-color: #bd5a3f6c;
  border-radius: 2rem;
  width: 50%;
  height: 50vh;
  text-align: center;
}

.mapita {
    width: 8rem;
    height: 8rem;
}
/* form */




.formtext {

  font-weight: 400;
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
}

/* ///// inputs /////*/

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
}


@media only screen and (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}

.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 4px;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.col-xs-12 {
  display: flex;
  justify-content: flex-end;
}

.submit-btn {

  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f77c56;
  color: white;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.submit-btn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

@media (max-width: 768px) {
  .submit-btn {
    width: 100%;
    float: none;
    text-align: center;
  }
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}

/*SideBar*/

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fdf6f2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #fdb4a0;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  top: 50vh;
  right: 0vh;
}

.openbtn:hover {
  background-color: rgb(163, 82, 82);
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}



/*perriito*/


.sausage-dog-animation {
  height: 25rem;
  max-height: 80vh;
  max-width: 80vw;
}

.ear,
.closed-eye,
.lean,
.front-legs,
.leg,
.head,
.tail,
.tail-blur,
.shadow {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ball,
.ball-decoration,
.ball-sound {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.ball {
  animation-name: squishBall;
  transform: matrix(1.0951654,
      0.52195853,
      -0.52866476,
      1.2371611,
      208.27138,
      -632.28196);
}

@keyframes squishBall {

  0%,
  50%,
  72%,
  80%,
  92%,
  100% {
    d: path("m 930.80242,477.19065 c -13.05851,3.00801 -24.77881,15.97694 -26.81485,30.67673 -2.03603,14.69979 5.61282,31.12503 15.54844,43.47271 9.93563,12.34768 22.15522,20.61485 36.12779,24.29677 13.97258,3.68192 29.69644,2.77869 42.91157,-2.81649 13.21513,-5.59518 23.92113,-15.88139 30.65943,-28.14324 6.7383,-12.26185 9.5079,-26.49697 5.7369,-38.5172 -3.771,-12.02022 -14.0825,-21.82316 -25.5603,-24.46605 -11.47786,-2.6429 -24.12011,1.87601 -37.63861,0.6591 -13.5185,-1.21691 -27.91187,-8.17033 -40.97037,-5.16233 z"
      );
    transform: matrix(1.0951654,
        0.52195853,
        -0.52866476,
        1.2371611,
        208.27138,
        -632.28196);
  }

  65%,
  85% {
    d: path("m 932.4158,479.26229 c -14.67189,0.93637 -26.39219,13.9053 -28.42823,28.60509 -2.03603,14.69979 5.61282,31.12503 15.94228,38.97676 10.32947,7.85173 23.3365,7.12856 34.39281,10.90173 11.0563,3.77318 20.16082,12.04166 33.72906,12.76579 13.56828,0.72414 31.59878,-6.09489 42.72528,-18.16177 11.1265,-12.06689 15.3474,-29.37891 10.9229,-43.93943 -4.4245,-14.56052 -17.4943,-26.36654 -28.8312,-27.22343 -11.337,-0.85689 -20.93852,9.23684 -34.54977,8.73602 -13.61125,-0.50082 -31.23124,-11.59712 -45.90313,-10.66076 z"
      );
    transform: matrix(1.0951654,
        0.52195853,
        -0.52866476,
        1.2371611,
        208.27138,
        -642.28196);
  }
}

.ball-decoration {
  animation-name: ballDecorationAnimation;
}

@keyframes ballDecorationAnimation {

  0%,
  50%,
  72%,
  80%,
  92%,
  100% {
    d: path("m 963.39546,597.71943 c 21.49913,-19.30313 4.80913,-64.80408 16.71919,-83.46282 16.19467,-25.37116 67.93925,-22.92156 89.43095,-47.68524"
      );
  }

  65%,
  85% {
    d: path("m 978.40243,581.77452 c 21.49916,-19.30313 -15.82546,-51.20401 -3.9154,-69.86275 16.19467,-25.37116 63.71847,-19.16982 85.21017,-43.9335"
      );
  }
}

.ball-sound {
  animation-name: ballSound;
  visibility: hidden;
}

@keyframes ballSound {

  0%,
  60%,
  70%,
  80%,
  90%,
  100% {
    visibility: hidden;
    transform: translateY(0);
  }

  65%,
  67%,
  69%,
  85%,
  87%,
  89% {
    visibility: visible;
    transform: translateY(-3px);
  }

  66%,
  68%,
  86%,
  88% {
    visibility: visible;
    transform: translateY(3px);
  }
}

.ear {
  animation-name: moveEar;
  transform-origin: top center;
  transform-box: fill-box;
}

@keyframes moveEar {

  0%,
  12%,
  21%,
  31%,
  35%,
  100% {
    transform: rotateZ(0);
  }

  9%,
  19%,
  29% {
    transform: rotateZ(-5deg);
    transform: rotateZ(-10deg);
  }

  13%,
  23%,
  33% {
    transform: rotateZ(5deg);
    transform: rotateZ(10deg);
  }
}

.closed-eye {
  animation-name: closeEye;
}

@keyframes closeEye {

  0%,
  50%,
  100% {
    visibility: hidden;
  }

  10% {
    visibility: visible;
  }
}

.lean {
  animation-name: leanDown;
  transform-origin: center;
}

@keyframes leanDown {

  0%,
  50%,
  100% {
    transform: rotateZ(0) translateY(0);
  }

  60%,
  90% {
    transform: rotateZ(10deg) translateY(5%);
  }
}

.front-legs {
  animation-name: flexLegs;
}

@keyframes flexLegs {

  0%,
  50%,
  100% {
    transform: translateX(0);
  }

  60%,
  90% {
    transform: translateX(12%);
  }
}

.leg {
  animation-name: rotateLegs;
  transform-origin: bottom left;
  transform-box: fill-box;
  transform: translateX(16%) rotate(-10deg);
}

@keyframes rotateLegs {

  0%,
  50%,
  100% {
    transform: translateX(16%) rotate(-10deg);
  }

  60%,
  90% {
    transform: translateX(35%) rotate(-83deg);
  }
}

.head {
  animation-name: lookDown;
  transform-origin: top right;
  transform-box: fill-box;
}

@keyframes lookDown {

  0%,
  55%,
  100% {
    transform: rotateZ(0) translate(0, 0);
  }

  60%,
  90% {
    transform: rotateZ(5deg) translate(2.5%, 6%);
  }
}

.tail {
  animation-name: moveTail;
  transform-origin: bottom center;
}

@keyframes moveTail {

  0%,
  50%,
  90%,
  100% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 14.092,504.432 14.092,504.432 c 0,0 128.8135,26.71916 147.5365,64.19816 z"
      );
  }

  64%,
  70%,
  76%,
  82% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 77.565044,422.94078 77.565044,422.94078 c 0,0 65.340456,108.21038 84.063456,145.68938 z"
      );
  }

  60%,
  66%,
  72%,
  78%,
  84% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 14.092,504.432 14.092,504.432 c 0,0 128.8135,26.71916 147.5365,64.19816 z"
      );
  }

  62%,
  68%,
  74%,
  80%,
  86% {
    d: path("m 161.6285,568.63016 20.92664,-20.00034 C 151.50961,521.73829 159.419,390.74 159.419,390.74 c 0,0 -16.5135,140.41116 2.2095,177.89016 z"
      );
  }
}

.tail-blur {
  animation-name: tailBlur;
  transform-origin: bottom center;
}

@keyframes tailBlur {

  0%,
  59%,
  90%,
  100% {
    opacity: 0;
  }

  64%,
  70%,
  76%,
  82% {
    transform: rotate(-2deg);
    opacity: 0;
  }

  60%,
  66%,
  72%,
  78%,
  84% {
    opacity: 0.3;
  }

  62%,
  68%,
  74%,
  80%,
  86% {
    transform: rotate(2deg);
    opacity: 0;
  }
}

.shadow {
  animation-name: scaleShadow;
  transform-origin: center center;
}

@keyframes scaleShadow {

  0%,
  55%,
  100% {
    transform: scaleX(1) translateX(0);
  }

  60%,
  90% {
    transform: scaleX(1.1) translateX(4%);
  }
}




@keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }

  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }

}

@-moz-keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }

  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }

}

@-webkit-keyframes gira {
  0% {
    transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
  }

  100% {
    transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
  }

}

@keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }

  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }

}

@-moz-keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }

  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }

}

@-webkit-keyframes gira3 {
  0% {
    transform: rotate(43deg);
    -moz-transform: rotate(43deg);
    -webkit-transform: rotate(43deg);
  }

  100% {
    transform: rotate(33deg);
    -moz-transform: rotate(33deg);
    -webkit-transform: rotate(33deg);
  }

}


/*carrito moviles*/
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* Zona movil*/

@media (max-width: 700px)
{
    .banner {
        background-image: url(../images/dogbreakpoint.jpg);
        background-position: center 50%;
    }
    #carouselExampleIndicators {
        display: none;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        
    }
    .galeria{
        display: none;
    } 
   iframe {
       width: 80%;
   }
    .mobilegallery {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .mobilegallery img {
        width: 100%;
        
    }
    .about p {
        width: 100%;
    }
    .formi {
        display: flex;
        flex-direction: column;
    
    }
    .formi img {
        object-fit: cover;
        width: 100%;
        margin: 0%;
    }
    .pagos {
        width: 50%;
    }
    .redes {
        width: 50%;
    }
    .hor {
        width: 50%;
    }
    /* .linkedimg {
      display: none;
      
    }
    .col-9 {

    } */
}